<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>おまかせスケジューラ</title>
  <style>
  </style>
</head>
<body>
  <form action="/add_event_by_nlp" class="input-area" method="POST">
    <textarea name="nlp_input" class="plan-input" placeholder="予定を入力してください"></textarea>
    <button type="submit" class="add-btn">予定を追加する</button>
  </form>

  <!-- 保存された予定のリスト -->
  <div class = "post-container">
    <% if @schedules != nil %>
      <div class = "post-area">
        <% @schedules.each do |schedule| %>
          <div class = "schedule_post_container">
            <div class = "schedule_post_box">
              <img class="profile-image" src="<%= schedule.user.profile_image_url %>" alt="User Image" style="width: 50px; height: 50px;">
              <div class = "schedule_box">
                <div class = "schedule_infomation">
                  <p class = "schedule-post-name"><%= schedule.user.display_name %></p>
                  <p><%= schedule.nlp_input %></p>
                </div>
                <div class = "schedule_reaction">
                  <form action="/schedules/<%= schedule.id %>/like" method="POST">
                    <button type="submit" style="border: none; background: none; cursor: pointer; vertical-align: bottom;">
                      <div class = "schedule_reaction_like">
                        <% if schedule.liked_users.include?(@user) %>
                          <!-- いいね済みの場合 -->
                          <img src="/img/hearted.png" alt="" class="logo">
                        <% else %>
                          <!-- 未いいねの場合 -->
                          <img src="/img/heart.png" alt="" class="logo">
                        <% end %>
                        <!-- いいね数表示 -->
                        <p><%= schedule.likes.count %></p>
                      </div>
                    </button>
                  </form>
                  <div class = "schedule_reaction_like">
                    <a href="/schedules/<%= schedule.id %>/comment" style="text-decoration: none;">
                      <img src="/img/comment.png" alt="" class="logo" style="vertical-align: bottom;">
                    </a>
                    <p><%= schedule.comments.count %></p>
                  </div>
                </div>
              </div>
            </div>
            <p class = "post-created-at"><%= schedule.created_at.in_time_zone('Asia/Tokyo').strftime("%Y/%m/%d %H:%M") %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- モーダルの要素(overlay + window) -->
  <% if @posted %>
    <div class="overlay" id="overlay">
      <div class="modal" id="modal">
        <h3 id="modal-title"><%= @message_title %></h3>
        <p id="modal-message"><%= @message.gsub("\n", "<br>") %></p>
        <a href="/" class="close-btn">
          OK
        </a>
      </div>
    </div>
  <% end %>
</body>
</html>
